@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem - vindo ao EasyBooking</h1>
    <p>Aqui você não só encontra as informações mais atualizadas sobre quem está usando qual ambiente, mas também faz sua reserva para utilizá-lo.
        <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
        
</div>


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-4 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem; margin-bottom: 20px;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-4 mt-md-3 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">DevTest01</h2>
                        </div>
                        <div class="container-1">
                            <p>
                                Status: <span id="tenant1Status" class="status-icon status-free">
                                    <i class="fas fa-door-open fa-lg"
                                       style="color: #005c0f;"></i>
                                </span>
                            </p>
                            <div class="form-group">
                                <label for="tenantName1" class="name-input">Your Name:</label>
                                <input type="text" id="tenantName1" class="form-control" placeholder="Enter your name">
                            </div>
                            <button id="bookTenantButton1" class="btn btn-outline-light px-5"
                                    style="border-radius: 0.7rem; border: 1px solid #444444; margin-top: 5px; margin-bottom: 6px;"
                                    onclick="bookTenant(1)">
                                Book
                            </button>
                            <p>Booked By: <span id="tenant1BookedBy"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark text-white" style="border-radius: 1rem; margin-bottom: 20px;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-4 mt-md-3 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">DevTest02</h2>
                        </div>
                        <div class="container-2">
                            <p>
                                Status: <span id="tenant2Status" class="status-icon status-free">
                                    <i class="fas fa-door-open fa-lg"
                                       style="color: #005c0f;"></i>
                                </span>
                            </p>
                            <div class="form-group">
                                <label for="tenantName2" class="name-input">Your Name:</label>
                                <input type="text" id="tenantName2" class="form-control" placeholder="Enter your name">
                            </div>
                            <button id="bookTenantButton2" class="btn btn-outline-light px-5"
                                    style="border-radius: 0.7rem; border: 1px solid #444444; margin-top: 5px; margin-bottom: 6px;"
                                    onclick="bookTenant(2)">
                                Book
                            </button>
                            <p>Booked By: <span id="tenant2BookedBy"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white h-100" style="border-radius: 1rem; margin-bottom: 20px;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-4 mt-md-3 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">QATest01</h2>
                        </div>
                        <div class="container-3">
                            <p>
                                Status: <span id="environment1Status" class="status-icon status-free">
                                    <i class="fas fa-door-open fa-lg" style="color: #005c0f;"></i>
                                </span>
                            </p>
                            <div class="form-group">
                                <label for="name1" class="name-input">Your Name:</label>
                                <input type="text" id="name1" class="form-control" placeholder="Enter your name">
                            </div>
                            <button id="bookButton1" class="btn btn-outline-light px-5"
                                    style="border-radius: 0.7rem; border: 1px solid #444444; margin-top: 5px; margin-bottom: 6px;"
                                    onclick="bookEnvironment(1)">
                                Book
                            </button>
                            <p>Booked By: <span id="environment1BookedBy"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark text-white h-100" style="border-radius: 1rem; margin-bottom: 20px;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-4 mt-md-3 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">QATest02</h2>
                        </div>
                        <div class="container-4">
                            <p>
                                Status: <span id="environment2Status" class="status-icon status-free">
                                    <i class="fas fa-door-open fa-lg" style="color: #005c0f;"></i>
                                </span>
                            </p>
                            <div class="form-group">
                                <label for="name2" class="name-input">Your Name:</label>
                                <input type="text" id="name2" class="form-control" placeholder="Enter your name">
                            </div>
                            <button id="bookButton2" class="btn btn-outline-light px-5"
                                    style="border-radius: 0.7rem; border: 1px solid #444444; margin-top: 5px; margin-bottom: 6px;"
                                    onclick="bookEnvironment(2)">
                                Book
                            </button>
                            <p>Booked By: <span id="environment2BookedBy"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function bookEnvironment(environmentId) {
        let environmentStatusElement = document.getElementById(`environment${environmentId}Status`);
        let bookEnvironmentButtonElement = document.getElementById(`bookButton${environmentId}`);
        let environmentBookedByElement = document.getElementById(`environment${environmentId}BookedBy`);
        let environmentNameInputElement = document.getElementById(`name${environmentId}`);

        if (environmentStatusElement.classList.contains('status-free')) {
            environmentStatusElement.classList.remove('status-free');
            environmentStatusElement.classList.add('status-booked');
            environmentStatusElement.innerHTML = '<i class="fas fa-door-closed fa-lg" style="color: #d10000;"></i>';
            bookEnvironmentButtonElement.innerText = 'Unbook';
            environmentBookedByElement.innerText = environmentNameInputElement.value || "Unknown";
        } else {
            environmentStatusElement.classList.remove('status-booked');
            environmentStatusElement.classList.add('status-free');
            environmentStatusElement.innerHTML = '<i class="fas fa-door-open fa-lg" style="color: #005c0f;"></i>';
            bookEnvironmentButtonElement.innerText = 'Book';
            environmentBookedByElement.innerText = "";
        }

        environmentNameInputElement.value = "";
    }

    function bookTenant(tenantId) {
        let tenantStatusElement = document.getElementById(`tenant${tenantId}Status`);
        let bookTenantButtonElement = document.getElementById(`bookTenantButton${tenantId}`);
        let tenantBookedByElement = document.getElementById(`tenant${tenantId}BookedBy`);
        let tenantNameInputElement = document.getElementById(`tenantName${tenantId}`);

        if (tenantStatusElement.classList.contains('status-free')) {
            tenantStatusElement.classList.remove('status-free');
            tenantStatusElement.classList.add('status-booked');
            tenantStatusElement.innerHTML = '<i class="fas fa-door-closed fa-lg" style="color: #d10000;"></i>';
            bookTenantButtonElement.innerText = 'Unbook';
            tenantBookedByElement.innerText = tenantNameInputElement.value || "Unknown";
        } else {
            tenantStatusElement.classList.remove('status-booked');
            tenantStatusElement.classList.add('status-free');
            tenantStatusElement.innerHTML = '<i class="fas fa-door-open fa-lg" style="color: #005c0f;"></i>';
            bookTenantButtonElement.innerText = 'Book';
            tenantBookedByElement.innerText = "";
        }

        tenantNameInputElement.value = "";
    }
</script>