@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem - vindo ao EasyBooking</h1>
    <p>Aqui você não só encontra as informações mais atualizadas sobre quem está usando qual ambiente, mas também faz sua reserva para utilizá-lo.
        <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
        
</div>

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-4 col-lg-7 col-xl-4">
        <div class="card bg-transparent text-white"
             style="border-radius: 1rem; margin-bottom: -10px; margin-top: 70px; text-align: center; height: 100%;">
            <!-- Your content goes here -->
            <h1>Bem-vindo ao EasyBooking</h1>
            <p>
                Aqui você não só encontra as informações mais atualizadas sobre quem está usando qual ambiente, mas também
                faz sua reserva para utilizá-lo.
            </p>
        </div>
    </div>
</div>
