@model EasyBooking.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Criar nova reserva</h1>
<hr />


<section class="vh-100 gradient-custom">
    <div class="container py-4 h-100 ">
        <div class="row d-flex h-100">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 shadow-4 ">
                        <div class="row g-0 ">
                            <div class="col-md-9 mb-3">
                                <h4>Reserva</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-11 mb-3">
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group mb-1">
                                                <label asp-for="DataHoraInicio" class="control-label"></label>
                                                <input asp-for="DataHoraInicio" class="form-control" />
                                                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-1">
                                                <label asp-for="DataHoraTermino" class="control-label"></label>
                                                <input asp-for="DataHoraTermino" class="form-control" />
                                                <span asp-validation-for="DataHoraTermino" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-1">
                                                <label asp-for="UserId" class="control-label"></label>
                                                <input asp-for="UserId" class="form-control" />
                                                <span asp-validation-for="UserId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label asp-for="AmbienteId" class="control-label"></label>
                                                <select asp-for="AmbienteId" class="form-control" asp-items="ViewBag.AmbienteId"></select>
                                            </div>
                                            <div class="form-group">
                                                <a asp-action="Index" class="btn btn-outline-light btn-lg px-4 mb-2"> <i class="bi bi-skip-backward"></i>&nbsp; Voltar</a>
                                                <input type="submit" value="Salvar" class=" btn btn-outline-light btn-lg px-5 mb-2" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }