@model EasyBooking.Models.AmbienteDev

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AmbienteDev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAmbiente" class="control-label"></label>
                <input asp-for="NomeAmbiente" class="form-control" />
                <span asp-validation-for="NomeAmbiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponibilidade" class="control-label"></label>
                <input asp-for="Disponibilidade" class="form-control" />
                <span asp-validation-for="Disponibilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Create" class="btn btn-success" />               
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
